---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

export async function getStaticPaths() {
  const posts = await Astro.glob('../posts/*.md');

  // Return an array of objects that has a 'params' object in it.
  // And the field that we want to use for the URLs, or the paths, which in this case here, is a slug.
  return posts.map((post) => ({
    params: {
      slug: post.frontmatter.slug,
    },
    props: {
      post,
    },
  }));
}

const { Content, frontmatter } = Astro.props.post;
---

<Layout title={frontmatter.title}>
  <section class='page-content'>
    <div class='container'>
      <Card>
        <h2>{frontmatter.title}</h2>
        <div>
          Written by <strong>{frontmatter.author}</strong> on {
            new Date(frontmatter.date).toLocaleDateString()
          }
        </div>
        <Content />
        <a class='btn' href='/blog'>Go Back</a>
      </Card>
    </div>
  </section>
</Layout>
