---
import Layout from '../layouts/Layout.astro';
// import ShowcaseReact from '../components/ShowcaseReact';
import Showcase from '../components/Showcase.astro';
---

<Layout>
  <!-- <ShowcaseReact /> -->
  <Showcase showExtra={true} />
  <h1>Hello</h1>
</Layout>
